@{
    ViewData["Title"] = "Group Expenses";
}

<breadcrumb></breadcrumb>
<h3 class="bg-white mb-3 p-3 text-dark-emphasis shadow">Group Expenses</h3>

<div class="bg-white p-3">
    <div class="d-flex justify-content-between gap-3 mb-3">
        <div class="d-flex align-items-center gap-2">
            <input type="text" class="searchBox form-control border-secondary-subtle rounded-0"
                id="groupExpenseListSearch" placeholder="Search">
        </div>
        <div class="d-flex gap-2">
            @* <a asp-action="AddExpense" asp-controller="Expense" as class="btn btn-primary" type="button">Add Expense</a> *@
        </div>
    </div>
    <div id="groupExpenseListOuter" class="listOuter bg-white"></div>
</div>


@section Scripts {
    @* Group expence list *@
    <script>
        sortColumn = "";
        sortOrder = "";

        $(document).ready(function () {
            getGroupExpenseList(1);
        });

        $("#groupExpenseListSearch").on("input", function () {
            if (searchTimeout === null) {
                searchTimeout = setTimeout(function () {
                    getGroupExpenseList(1);
                }, 500);
            }
        });

        function getGroupExpenseList(currentPage = 1) {
            clearTimeout(searchTimeout);
            searchTimeout = null;

            let filter = {
                PageNumber: currentPage,
                PageSize: $("#groupExpensePageSize").val(),
                SearchString: $("#groupExpenseListSearch").val(),
                SortColumn: sortColumn,
                SortOrder: sortOrder
            };

            $.ajax({
                url: "/Expense/IndividualExpenseList",
                type: "POST",
                data: { filter },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#groupExpenseListOuter").html(response);
                        }
                    }
                },
                error: function () {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        }

        // Handle sorting
        $(document).on("click", ".sortBtn", function () {
            sortColumn = $(this).data("column");
            sortOrder = $(this).data("order");
            getGroupExpenseList(1);
        });
    </script>
}