@model int

<div class="modal-header">
    <h1 class="modal-title fs-5">Add new members</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="d-flex align-items-center px-2 mb-3">
        <input type="text" class="searchBox form-control border-secondary-subtle rounded-0" id="friendSearch"
            placeholder="Search">
    </div>
    <div id="friendListOuter" class="listOuter bg-white"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="addNewMembers()">Add</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>


@* Get friend list *@
<script>
    sortColumn = "";
    sortOrder = "";
    searchTimeout;

    $("#friendSearch").on("input", function () {
        if (searchTimeout === null) {
            searchTimeout = setTimeout(function () {
                getFriendList(1);
            }, 500);
        }
    });

    $(document).ready(function () {
        getFriendList(1);
    });

    function getFriendList(currentPage) {
        clearTimeout(searchTimeout);
        searchTimeout = null;

        let filter = {
            PageNumber: currentPage,
            PageSize: $("#friendPageSize").val(),
            SearchString: $("#friendSearch").val(),
            SortColumn: sortColumn,
            SortOrder: sortOrder,
            HasActions: false,
            HasCkb: true
        };

        $.ajax({
            url: "/Friend/FriengListForGroup",
            type: "POST",
            data: { filter, groupId: @Model },
            success: function (response) {
                if (!response.statusCode) {
                    if (response.success == false) {
                        toastr.error(response.message);
                    }
                    else {
                        $("#friendListOuter").html(response);
                    }
                }
            },
            error: function () {
                toastr.error('@NotificationMessages.InternalServerError');
            }
        });
    }

    // Handle sorting
    $(document).on("click", ".sortBtn", function () {
        sortColumn = $(this).data("column");
        sortOrder = $(this).data("order");
        getFriendList(1);
    });

</script>

@* Add new member *@
<script>
    function addToGroup(userId) {
        $.ajax({
            url: "/Group/AddGroupMembers",
            type: "POST",
            data: { groupId: @Model, userId },
            success: function (response) {
                if (!response.statusCode) {
                    if (response.success == false) {
                        toastr.error(response.message);
                    }
                    else {
                        toastr.success(response.message);
                        getFriendList(1);
                        fetchGroupMembers();
                    }
                }
            },
            error: function () {
                toastr.error('@NotificationMessages.InternalServerError');
            }
        });
    }
</script>