@model SettlementListVM
@{
    ViewData["Title"] = "Settlement";
}

<breadcrumb></breadcrumb>
<h3 class="bg-white mb-3 p-3 text-dark-emphasis shadow">Settle Up</h3>

<div class="settleList d-flex flex-column gap-3">
    <div class="settleListItem d-flex justify-content-between align-items-center gap-2 p-2 bg-white"
        onclick="settlementModal()">
        <div class="d-flex align-items-center gap-2">
            <img src=@(Model.CurrentUser.ProfileImagePath ?? "/images/Default_pfp.png") alt=""
                class="rounded-circle border border-dark-subtle object-fit-cover" width="40px" height="40px">
            <span>All expenses</span>
        </div>
        <span class="px-2 text-danger">₹@(((-1) * Model.TotalAmount).ToString("N2"))</span>
    </div>

    @if (Model.Friend.Expense != 0)
    {
        <div class="settleListItem d-flex justify-content-between align-items-center gap-2 p-2 bg-white"
            onclick="settlementModal()">
            <div class="d-flex align-items-center gap-2">
                <img src=@(Model.Friend.ProfileImagePath ?? "/images/Default_pfp.png") alt=""
                    class="rounded-circle border border-dark-subtle object-fit-cover" width="40px" height="40px">
                <span>All individual expenses</span>
            </div>
            <span class="px-2 text-danger">₹@(((-1) * Model.Friend.Expense).ToString("N2"))</span>
        </div>
    }

    @foreach (GroupVM group in Model.Groups)
    {
        <div class="settleListItem d-flex justify-content-between align-items-center gap-2 p-2 bg-white"
            onclick="settlementModal()">
            <div class="d-flex align-items-center gap-2">
                <img src=@(group.ImagePath ?? "/images/default_group_img.png") alt=""
                    class="rounded-circle border border-dark-subtle object-fit-cover" width="40px" height="40px">
                <span>@group.Name</span>
            </div>
            <span class="px-2 text-danger">₹@(((-1) * group.Expense).ToString("N2"))</span>
        </div>
    }

</div>





@section Scripts {
    <script>
        // Open settlement modal
        function settlementModal() {
            console.log("settleed");
        }
    </script>
}