@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-primary: #1cc29f;
    --clr-primary-dark: #099a7b;
    --clr-mint: #dffaf3;
    --clr-light-grey: #e1e1e1;
    --clr-grey: #b0b0b0;
    --clr-dark-gray: #4a4a4a;
}

/* Button */
.btn-primary {
    --bs-btn-bg: var(--clr-primary) !important;
    --bs-btn-border-color: var(--clr-primary) !important;
    --bs-btn-hover-bg: var(--clr-primary-dark) !important;
    --bs-btn-hover-border-color: var(--clr-primary-dark) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: var(--clr-primary-dark) !important;
    --bs-btn-active-border-color: var(--clr-primary-dark) !important;
}

.text-primary {
    color: var(--clr-primary) !important;
}


.bg-primary {
    background-color: var(--clr-primary) !important;
}

.bg-primary-subtle {
    background-color: var(--clr-mint) !important;
}

.bg-secondary {
    background-color: var(--clr-grey) !important;
}

.bg-secondary-subtle {
    background-color: var(--clr-light-grey) !important;
}


/* Global */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--clr-light-grey);
}

#loginLayoutBody {
    background-image: url("/images/4077186_17580.jpg");
    background-repeat: no-repeat;
}

a:hover {
    /* text-shadow: 1px 1px 15px #8f8f8f; */
}


/* Login page */
#loginFormOuter {
    width: 500px;
    margin-top: 25vh;
}

#registerFormOuter {
    width: 600px;
}

input[type="checkbox"]:checked {
    border-color: var(--clr-primary) !important;
    background-color: var(--clr-primary) !important;
    box-shadow: none;
}

.form-control:focus,
input[type="checkbox"],
button {
    box-shadow: none !important;
}


@media (max-width: 576px) {
    #loginFormOuter {
        width: 300px;
        margin-top: 250px;
    }

    #registerFormOuter {
        width: 300px;
    }
}


/* Navbar */
.navbar-toggler{
    left: 0;
    position: relative;
}


/* Dashboard */
