@model LoginVM
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LoginLayout";
}

<div class="d-flex flex-column align-items-center vh-100">
    <div class="p-4 p-md-5 rounded-4 bg-white shadow" id="loginFormOuter">
        <div class="d-flex justify-content-center mb-4">
            <div class="d-flex align-items-center gap-1">
                <img src="/images/splitmate/fulllogo_transparent_nobuffer.png" alt="" width="100px">
            </div>
        </div>

        <form asp-action="ForgotPassword" asp-controller="Auth" class="loaderForm">
            <p class="mb-3" style="font-size: 14px;">Enter your Email and we'll send you a link to reset your password.</p>

            <!-- Email -->
            <div class="input-group mt-2 rounded-2 shadow-sm">
                <input asp-for=@Model.Email class="form-control border-secondary-subtle border-end-0" id="inputEmail"
                    placeholder="Email" autocomplete="username">
                <span class="input-group-text bg-white border-secondary-subtle border-start-0" id="basic-addon1">
                    <i class="bi bi-envelope-fill"></i>
                </span>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Email"></span>

            <div class="d-flex flex-column justify-content-center align-items-center gap-4 mt-4">
                <button type="submit" class="btn btn-primary w-auto shadow rounded-2">Submit</button>
                <a asp-action="Login" asp-controller="Auth" class="text-primary link-underline-light fw-semibold">Back to Login</a>
            </div>
        </form>
    </div>
</div>