@model DashboardVM
@{
    ViewData["Title"] = "Dashboard";
}

<h3 class="bg-white mb-3 p-3 text-dark-emphasis shadow mt-3">Dashboard</h3>

@* <div class="d-flex">
    <div class="dashboardCards col-3 bg-white p-3">
        <div class="d-flex justify-content-between align-items-center">
            <span class="fs-4">Friend Count</span>
            <i class="bi bi-person-fill fs-4"></i>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <span class="fs-4">15</span>
        </div>
    </div>
</div> *@
