@using SplitWiseService.Constants
@{
    ViewData["Title"] = "Dashboard";
}

<breadcrumb></breadcrumb>
<h1>Dashboard</h1>


<script>
    setTimeout(function () {
        $(document).ready(function () {
            getPage('dashboard', 'dashboardPageNav');
        });
    }, 100);
</script>