@{
    string? userName = Context.Request.Cookies["UserName"];
    string? profileImageUrl = Context.Request.Cookies["ProfileImageUrl"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SplitWiseWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SplitWiseWeb.styles.css" asp-append-version="true" />
</head>

<body>
    <!--- Loading Spinner--->
    <div id="loader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-controller="Dashboard" asp-action="Index" class="navbar-brand d-flex justify-content-center">
                    <div class="d-flex align-items-center gap-1">
                        <img src="/images/SplitWiseWeb.png" alt="" width="30px" height="30px">
                        <h4 class="m-0 text-center text-primary">SplitWiseWeb</h4>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between pe-3">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth"
                                asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle border-0 p-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="@(profileImageUrl ?? "/images/Default_pfp.png")" alt="" class="me-1 rounded-circle" width="30px" height="30px">
                            @(userName ?? "Can not get Username")
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Change Password</a></li>
                            <li><a asp-action="Logout" asp-controller="Auth" class="dropdown-item">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_ToastrPartialView")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
