@using SplitWiseService.Constants
@{
    ViewData["Title"] = "Friends";
}

<h1>Friends</h1>
<div class="d-flex justify-content-between gap-3 mb-3">
    <div>
        <input type="text" class="searchBox form-control border-secondary-subtle" id="friendSearch" placeholder="Search"
            oninput="getFriendList(1)">
    </div>
    <div class="d-flex gap-2">
        <button class="btn btn-primary" type="button" onclick="fetchAddFriendModal()">Add Friend</button>
        <a asp-action="FriendRequests" asp-controller="Friend" class="btn btn-secondary" type="button">Friend
            Requests</a>
    </div>
</div>
<div id="friendListOuter" class="bg-white"></div>


<!-- Modal -->
<div class="modal fade" id="regularModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="regularModalContent"></div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="largeModalContent"></div>
    </div>
</div>

@section Scripts {
    @* Send friend request *@
    <script>
        // Get friend request modal
        function fetchAddFriendModal() {
            $("#normalModalContent").empty();
            $.ajax({
                url: "/Friend/AddFriendModal",
                type: "GET",
                success: function (response) {
                    if (!response.statusCode) {
                        $("#regularModalContent").html(response);
                        $("#regularModal").modal("show");
                    }
                },
                error: function () {
                    $("#regularModal").modal("hide");
                    toastr.error('@(NotificationMessages.CanNot.Replace("{0}", "add friend"))');
                },
            });
        }

        // Submit friend request form
        $(document).on("submit", "#addFriendRequistForm", function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success) {
                            $("#regularModal").modal("hide");
                            toastr.success(response.message);
                        }
                        else if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#regularModalContent").html(response);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        });

        // Send referral form
        $(document).on("submit", "#sendReferralForm", function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success) {
                            $("#regularModal").modal("hide");
                            toastr.success(response.message);
                        }
                        else if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#regularModalContent").html(response);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        });
    </script>

    @* Friend List *@
    <script>
        let sortColumn = "";
        let sortOrder = "";

        $(document).ready(function () {
            getFriendList(1);
        });

        function getFriendList(currentPage) {
            let filter = {
                PageNumber: currentPage,
                PageSize: $("#friendPageSize").val(),
                SearchString: $("#friendSearch").val(),
                SortColumn: sortColumn,
                SortOrder: sortOrder,
            };

            $.ajax({
                url: "/Friend/FriendList",
                type: "POST",
                data: { filter },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#friendListOuter").html(response);
                        }
                    }
                },
                error: function () {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        }

        // Handle sorting
        $(document).on("click", ".sortBtn", function () {
            sortColumn = $(this).data("column");
            sortOrder = $(this).data("order");
            getFriendList(1);
        });
    </script>

    @* Remove friend *@
    <script>
        function removeFriend() {
            
        }
    </script>
}
