<p>
  We received a request to reset the password for your account. You can reset your password by clicking the button
  below:
</p>
<a href="{link}" target="_blank" class="btn-primary" style="background-color: #1cc29f !important; text-decoration: none; color: #ffffff; margin: 20px 0;
padding: 10px;font-size: large !important; border-radius: 10px; text-decoration: none;">Reset my password</a>
<p>
  This link will expire in <strong>6 hours</strong> for your security. If you did not request a password reset, please
  ignore this email, your account will remain secure.
</p>
