<p>Thanks for registering account with us.</p>
<p>
  To complete your account setup and ensure the security of your information, please verify your email address by
  clicking the button below:
</p>
<a href="{link}" target="_blank" style="background-color: #1cc29f !important; text-decoration: none; color: #ffffff; margin: 20px 0;
padding: 10px;font-size: large !important; border-radius: 10px; text-decoration: none;">Verify my email</a>
<p>
  This step helps us confirm that we have the correct email on file and allows you to receive important notifications
  about your account.
</p>
<p>If you did not create an account with us, please disregard this message.</p>
