<p>Thanks for registering account with us.</p>
<p>
  To complete your account setup and ensure the security of your information, please verify your email address by
  clicking the button below:
</p>
<a href="{link}" target="_blank" class="btn-primary">Verify My Email</a>
<p>
  This step helps us confirm that we have the correct email on file and allows you to receive important notifications
  about your account.
</p>
<p>If you did not create an account with us, please disregard this message.</p>
