<div style="background-color: #dcdcdc;">
    <div style="height: 100px; background-color: #07614b; display: flex; justify-content: center; align-items: center;">
        <h1 style="color: #ffffff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0px;">SplitWiseWeb</h1>
    </div>
    <div style="height: 150px; padding: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <p style="margin: 0 0 10px 0;">Hi {name},</p>
        <p style="margin: 0 0 15px 0;">To complete your registration and activate your account, please verify your email address by clicking the button below:</p>
        <div style="display: flex; justify-content: center;">
            <a href="{link}" style="text-decoration: none; background-color: #169c7b; color: #ffffff; padding: 10px; border-radius: 10px;">Verify My Email</a>
        </div>
    </div>
</div>